BasedOnStyle: LLVM
AlignTrailingComments: true
BreakBeforeBraces: Attach
ColumnLimit: 0
IndentWidth: 2
#AccessModifierOffset: 0
IndentCaseLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
AllowShortBlocksOnASingleLine: true
AlignConsecutiveAssignments: true
AlignOperands: true
AlignTrailingComments: true
SpaceInEmptyParentheses: false
UseTab: Never
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: Align
