version: "3"
services:
  eventhub:
    image: quay.io/olesku/eventhub:latest
    environment:
      - disable_auth=1
      - enable_sse=1
      - redis_host=redis
    ports:
      - "8080:8080"
    depends_on:
      - redis

  redis:
    image: redis:alpine
