name: Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        redis-version: [5, 6]

    steps:
    - name: Git checkout
      uses: actions/checkout@v1

    - name: Install required packages
      run: sudo apt-get -f install git make cmake cmake-data libhiredis-dev libssl-dev libfmt-dev libspdlog-dev
      env:
        DEBIAN_FRONTEND: noninteractive

    - name: Build and install redis-plus-plus library
      run: |
        git clone https://github.com/sewenew/redis-plus-plus.git && \
        cd redis-plus-plus && \
        git checkout tags/1.1.1 && \
        mkdir compile && \
        cd compile && \
        cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr .. && \
        make && \
        sudo make install && \
        cd ../..

    - name: Build Eventhub
      run: |
        mkdir -p build && cd build && \
        cmake -DSKIP_TESTS=1 -DCMAKE_BUILD_TYPE=Release .. && \
        make

    - name: Start Redis
      uses: supercharge/redis-github-action@1.1.0
      with:
        redis-version: ${{ matrix.redis-version }}

    - name: Run tests
      run: |
        ./build/eventhub_tests
